<h1>Pirate Stats</h1>
<h2>Name: <%= @pirate.name %></h2>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %></h2>


<h1>Ship #1</h1>
<h2>Name: <%= @ship_one.name %></h2>
<h2>Type: <%= @ship_one.type %></h2>
<h2>Booty: <%= @ship_one.booty %></h2>


<h1>Ship #2</h1>
<h2>Name: <%= @ship_two.name %></h2>
<h2>Type: <%= @ship_two.type %></h2>
<h2>Booty: <%= @ship_two.booty %></h2>
